.date {
  text-align: center;
  font-size: 18px;
  color: #606765;
}
.container {
  margin: 0 auto;
}
.outer {
  box-shadow: none;
  margin: 0 auto;
  margin-top: 3px;
  border-radius: 0;
  border-width: 2px;
  border-color: #6ba9ca;
}
.inner {
  max-height: 270px;
  margin: 0 auto;
  box-shadow: 2px 2px 11px -5px;
}
.city {
  color: #6ba9ca;
  font-weight: 700;
  font-size: 50px;
  position: relative;
  top: -20px;
}
.main-emoji {
  max-width: 70px;
  position: relative;
  top: -3px;
}
.low-high {
  font-size: 25px;
  color: #606765;
  position: relative;
  top: 35px;
}
.low-temp {
  font-size: 35px;
  color: #606765;
  position: relative;
  left: 6px;
  top: -25px;
}
.high-temp {
  font-size: 35px;
  color: #606765;
  position: relative;
  left: -5px;
  top: -25px;
}
.wind {
  font-size: 18px;
  font-weight: 470;
  color: #606765;
  position: relative;
  top: -40px;
}
.current-temp {
  font-size: 50px;
  color: #6ba9ca;
  font-weight: 700;
  position: relative;
  top: -40px;
  left: +27px;
}
.units {
  font-size: 20px;
  font-weight: 350;
  color: #6ba9ca;
  position: relative;
  top: -59px;
  left: +22px;
}

#forecast {
  font-size: 25px;
  color: #606765;
  text-align: center;
}

a {
  color: #6ba9ca;
  font-weight: 350;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #6ba9ca;
  font-weight: 500;
  text-decoration-color: #6ba9ca;
  text-decoration-thickness: 0.9px;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid #606765;
  width: 130px;
  text-align: center;
  position: relative;
  top: 5px;
}

input[type="submit"] {
  border: none;
  background-color: white;
  color: #6ba9ca;
  font-size: 25px;
  position: relative;
  left: -100px;
  top: 2px;
}

.active {
  color: #6ba9ca;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
  cursor: default;
  color: #6ba9ca;
  font-size: 22px;
  font-weight: 700;
}

#current-location {
  position: relative;
  top: 5px;
  left: 95px;
  border: none;
}
p {
  margin-bottom: 5px;
}
button {
  color: aliceblue;
}
